<section class="tool-app">
    <div class="flex">
        <ul class="list">
            <li class="list-item">
                <span class="material-icons">report</span>
            </li>
            
            <li class="list-item">
                <span class="material-icons">bluetooth</span>
            </li>
            
            <li class="list-item">
                <span class="material-icons">sim_card</span>
            </li>
        </ul>
    </div>
    <div class="flex">
        <ul class="list">
            <li class="list-item">
                <span class="material-icons">signal_wifi_0_bar</span>
            </li>
            
            <li class="list-item">
                <span class="material-icons">signal_cellular_0_bar</span>
            </li>
            
            <li class="list-item">
                <span class="material-icons">battery_charging_full</span>
            </li>
            <li class="list-item">01:05</li>
        </ul>
    </div>
</section>